/* --mobile-breakpoint: 480px; */
/* --tablet-breakpoint: 768px; */
/* --laptop-breakpoint: 1200px; */

.projectContainer {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

@media (max-width: 1080px) {
  .projectContainer {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .projectContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .projectContainer {
    margin-left: 7px;
    margin-right: 7px;
  }
}

.projectDetails {
  flex: 1;
  padding-right: 20px;
}

@media (max-width: 1080px) {
  .projectDetails {
    padding-right: 0;
  }
}

.projectPreview {
  flex: 1;
  text-align: center;
}

.projectPreview > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 100%;
  box-shadow: 5px 5px 10px grey;
  background-color: white;
  border-radius: 3px;
}

.selectorContainer {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .selectorContainer {
    /* margin-top: 20px; */
  }
}

.selectorContainer > div {
  padding-left: 20px;
  padding-right: 20px;
  color: Blue;
  cursor: pointer;
}

.highlight {
  background: linear-gradient(
      104deg,
      rgba(130, 255, 173, 0) 0.9%,
      rgba(130, 255, 173, 1.25) 2.4%,
      rgba(130, 255, 173, 0.5) 5.8%,
      rgba(130, 255, 173, 0.1) 93%,
      rgba(130, 255, 173, 0.7) 96%,
      rgba(130, 255, 1732, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(130, 255, 173, 0) 0%,
      rgba(130, 255, 173, 0.3) 7.9%,
      rgba(130, 255, 173, 0) 15%
    );
}