@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");

@font-face {
    font-family: 'FuturaHandwritten Medium';
    font-style: normal;
    font-weight: normal;
    src: local('FuturaHandwritten Medium'), url('/FuturaHandwritten.woff') format('woff');
}

html, html * {
    font-family: 'FuturaHandwritten Medium';
}

body {
    margin: 0;
    padding: 0;

    font-size: 24px;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, lightblue 1px, transparent 1px), linear-gradient(to bottom, lightblue 1px, transparent 1px);

    background-position: center top;
    /*letter-spacing: 1px;*/
    /*word-spacing: 5px;*/
}

.container {
    width: 838px;
    margin: 41px auto;
    background: #fff;

    box-shadow: 0px 5px 20px rgba(68, 130, 193, 0.2);
    /*border: solid 5px lightblue;*/
    /*border-top-left-radius: 255px 15px;*/
    /*border-top-right-radius: 15px 225px;*/
    /*border-bottom-right-radius: 225px 15px;*/
    /*border-bottom-left-radius: 15px 255px;*/

    padding: 40px;
}

button {
    background: transparent;
    padding: 0.6rem 1.2rem;
    font-size: 24px;
    font-weight: bold;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;

    border: solid 6px #41403E;
}

button:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: blue;
}

.header > a {
    float: left;
    padding-right: 50px;
}

.header > div {
    float: right;
    cursor: pointer;
    padding-right: 50px;
    color: Blue;
}

.footer {
    position: fixed;
    bottom: 0;
}

.footer > a {
    padding-right: 20px;
}
