.purchaseButton {
  color: Blue;
  cursor: pointer;
  display: inline-block;
}

.editButton {
  color: Blue;
  cursor: pointer;
  display: inline-block;
}

.pagination {
  text-align: center;
}

.pagination ul {
  display: inline-block;
}

.pagination li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.pagination li.active {
  color: Blue;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
}

.galleryContainer > .token {
  flex: 2 0 24rem;
  margin-bottom: 25px;
  text-align: center;
}

.token > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  max-width: 300px;
  box-shadow: 5px 5px 10px grey;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay > div {
  font-family: "Gochi Hand", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}
