.liveviewContainer {
  background-image: url("/icons/spinner.gif");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.liveview {
  max-width: 500px;
  margin: auto;
  display: block;
  box-shadow: 5px 5px 10px grey;
  border: none;
  border-radius: 3px;
}

.viewOptions {
  display: flex;
  justify-content: center;
  text-align: center;
}

.viewOptions > a {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.tokenInfo {
  flex: 1;
}

.tokenLive {
  flex: 1;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width: 1600px) {
  .featuresContainer {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media (max-width: 1200px) {
  .featuresContainer {
    margin-right: 20%;
    margin-left: 20%;
  }
}

@media (max-width: 768px) {
  .featuresContainer {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media (max-width: 480px) {
  .featuresContainer {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .featuresContainer {
    flex-direction: column;
    margin-bottom: 45px;
  }
}

.featuresContainer > .feature {
  flex: 2 0 24rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .featuresContainer > .feature {
    flex: 2 0 1rem;
  }  
}

.highlight {
  background: linear-gradient(
      104deg,
      rgba(130, 255, 173, 0) 0.9%,
      rgba(130, 255, 173, 1.25) 2.4%,
      rgba(130, 255, 173, 0.5) 5.8%,
      rgba(130, 255, 173, 0.1) 93%,
      rgba(130, 255, 173, 0.7) 96%,
      rgba(130, 255, 1732, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(130, 255, 173, 0) 0%,
      rgba(130, 255, 173, 0.3) 7.9%,
      rgba(130, 255, 173, 0) 15%
    );
  padding-left: 20px;
  padding-right: 20px;
}
