.liveviewContainer {
  background-image: url("/icons/spinner.gif");
  background-position: center;
  background-repeat: no-repeat;
}

.liveview {
  max-width: 500px;
  margin: auto;
  display: block;
  box-shadow: 5px 5px 10px grey;
  border: none;
}

.viewOptions {
  display: flex;
  justify-content: center;
}

.viewOptions > a {
  margin-left: 20px;
  margin-right: 20px;
}
