.liveview {
  width: 550px;
  height: 425px;
  margin: auto;
  display: block;
  box-shadow: 5px 5px 10px grey;
}

.viewOptions {
  display: flex;
  justify-content: center;
}

.viewOptions > a {
  margin-left: 20px;
  margin-right: 20px;
}
